<div class="d-grid gap-2">
    <button (click)="connect()"
        [ngClass]="{'btn-success' : dataSource.connectionStatus === connectionStatus.CONNECTED, 'btn-outline-dark': dataSource.connectionStatus === connectionStatus.DISCONNECTED}"
        class="btn btn-outline-dark btn-sm" id="connect-btn">Connect</button>
    <button (click)="resetSessionTrigger()" class="btn btn-outline-dark btn-block btn-sm"
        [disabled]="dataSource.connectionStatus === connectionStatus.DISCONNECTED">Reset
        session</button>
    <button class="btn btn-outline-dark btn-block btn-sm" (click)="openSettings()">ACQ Settings</button>
    <button (click)="export(dataOriginEnum.SPECTRUM)" class="btn btn-outline-dark btn-block btn-sm"
        [disabled]="!backgroundExportReady">Export Background SPE</button>
    <button (click)="export(dataOriginEnum.SPECTRUM)" class="btn btn-outline-dark btn-block btn-sm"
        [disabled]="!spectrumExportReady">Export Spectrum SPE</button>

    <input (click)="acquire(dataOriginEnum.BACKGROUND)" type="radio" class="btn-check" name="btnradio" id="acq-background"
        [checked]="origin === dataOriginEnum.BACKGROUND">
    <label class="btn btn-outline-dark btn-block btn-sm" for="acq-background">ACQ Background (RT [s]: <span
            [textContent]="backgroundRt">0</span>)</label>

    <input (click)="acquire(dataOriginEnum.SPECTRUM)" type="radio" class="btn-check" name="btnradio" id="acq-spectrum"
        [checked]="origin === dataOriginEnum.SPECTRUM">
    <label class="btn btn-outline-dark btn-block btn-sm" for="acq-spectrum">ACQ Spectrum (RT [s]: <span
            [textContent]="spectrumRt">0</span>)</label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon3">ACQ Time [s]</span>
        <input type="text" class="form-control" (blur)="setRegime(acqTimeoutValue)" [(ngModel)]="acqTimeoutValue"
            aria-describedby="basic-addon3" positiveIntegers value="0">
        <button type="button" (click)="toggleRegime(acqTimeoutValue)" id="enableRegimeButton"
            [textContent]="acqTimeoutEnabled ? 'Disable' : 'Enable'" class="btn btn-dark">Enable</button>
    </div>
    <div [ngClass]="{'d-none' : !acqTimeoutEnabled}" class="progress mb-2 position-relative">
        <div class="progress-bar progress-bar-striped" role="progressbar"
            [ngStyle]="{width: (timer.realTime || 0) / this.acqTimeout * 100 +'%'}"
            [attr.aria-valuenow]="(timer.realTime || 0) / this.acqTimeout * 100" aria-valuemin="0" aria-valuemax="100">
        </div>
        <small class="justify-content-center d-flex position-absolute w-100"
            [textContent]="(acqTimeout - (timer.realTime || 0)) + 's'">0s</small>
    </div>
    <div class="mb-2"></div>
</div>