#linkActivity {
    width: 30px;
    height: 30px;
    background: gray;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#measurementActivity {
    width: 30px;
    height: 30px;
    background: gray;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}